/* Styles for about.html */

.card-wrapper {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
}

.card-inner {
    padding: 40px;
    background-color: white;
    border-radius: 32px;
    transition: box-shadow 500ms ease, background-color 500ms ease;
    text-align: center;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.username {
    margin: 0;
    color: #555;
    font-size: 43px;
    font-weight: bold;
}

.ur-wrapper {
    transform: translateY(78px);
    transition: transform 500ms ease;
}

.description {
    opacity: 0;
    transition-delay: 500ms;
    transition: opacity .1s ease;
    color: #6a859c;
}

.role {
    color: #838383;
}

.card-inner:hover {
    box-shadow: 7px 7px 13px -7px #333;
    background-color: #E0E0E0;
}

.card-inner:hover .ur-wrapper {
    transform: translateY(0px);
}
.card-inner:hover .description {
    opacity: 0;
}
