/* Styles for about.html */

.card-wrapper {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card {
    padding: 20px;
}

.card-inner, .card-wrapper a {
    padding: 40px;
    background-color: white;
    border-radius: 32px;
    transition: box-shadow 400ms ease, background-color 400ms ease;
    text-align: center;
}

.card-wrapper a {
    margin: 10px;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
}

.card-inner.testsolver {
    height: 100px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.username {
    margin: 0;
    color: #555;
    font-size: 43px;
    font-weight: bold;
    margin-bottom: 10px;
}

.testsolver .username {
    font-size: 30px;
    margin: 0;
}

.role {
    color: #838383;
}

.ur-wrapper {
    transform: translateY(00px);
    transition: transform 400ms ease;
    margin-top: 20px;
}

.description, .card-inner.testsolver .role {
    opacity: 0;
    transition: none;
    margin: 0;
}
.description {
    font-size: 16px;
    color: #6a859c;
    cursor: default;
}

.testsolver .description {
    font-size: 13px;
}

.card-inner:hover, .card-wrapper a:hover {
    box-shadow: 7px 7px 13px -7px #333;
    background-color: #e0e0e0;
}

.card-inner:hover .ur-wrapper {
    transform: translateY(-35px);
}
.card-inner:hover .description, .card-inner.testsolver:hover .role {
    opacity: 1;
    transition: opacity 200ms ease 250ms;
}

.card-inner.testsolver:hover .ur-wrapper {
    transform: translateY(-20px);
}

@media only screen and (max-width: 420px) {
    .card-inner {
        width: 350px;
        padding: 30px;
    }
}
@media only screen and (max-width: 330px) {
    .card-inner {
        width: 280px;
        height: 500px;
    }
    .card-inner.testsolver {
        height: 200px;
    }
    .username {
        font-size: 35px;
    }
}
