/* Styles for about.html */

.card-wrapper {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
}

.card-inner {
    padding: 40px;
    background-color: white;
    border-radius: 32px;
    transition: box-shadow 500ms ease;
    text-align: center;
    height: 400px;
    width: 400px;
}
