#main {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: 50px;
}
#nav-right li:nth-of-type(3) {
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .contest {max-width: 90%;}
}

@media only screen and (max-width: 800px) {
    #main {
        width: 95%;
    }
    .contest {
        max-width: 100%;
        margin: 10px;
    }
}
