#main {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}
#nav-right li:nth-of-type(3) {
    font-weight: bold;
}


.ubtn {
    color: white;
}
#main .hbutton {
    border-color: #69b9ff;
    color: #69b9ff;
}
#main .hbutton:hover {
    background-color: #69b9ff;
    color: white;
}
