#main {
    display: block;
    width: 70%;
    margin: 0 auto;
}

#rule-wrapper {
    display: flex;
    flex-direction: column;
}

#math-img {
    background-image: url(/images/math.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
