#rule-wrapper {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
}
#main, #s-wrap {
    display: block;
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style-type: disc;
    margin-bottom: 20px;
}

#contest-rules {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 30px;
    font-size: 17px;
    color: #6a859c;
}

#contest-rules h1 {
    text-align: center;
    color: black;
    font-size: 32px;
}
#math-img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    flex-grow: 0;
    height: auto;
    width: 30%;
}

#contest-rules li {
    margin-bottom: 25px;
}

#twrap {
    text-align: center;
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.stats {
    width: 50%;
    min-width: 400px;
    padding: 10px;
    border-radius: 30px;
}

@media only screen and (max-width: 800px) {
    #math-img {
        display: none;
    }
}
