/* Styles specific to index.html */
.spons blockquote {
    border-left: 4px solid #6a859c;
    font-family: Montserrat, sans-serif;
    color: #6a859c;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#sponsors a {
    text-decoration: none;
    color: black;
}

.spons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #dfdfdf;
    border-radius: 15px;
    box-shadow: 0 2px 7px -3px grey;
    transition: box-shadow .2s ease, transform .2s ease;
}
.spons:hover {
    box-shadow: 0 4px 7px -3px grey;
    transform: translateY(-4px);
}
.spons h1 {
    color: #686868;
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 45px;
}

.spons img {
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
    margin: auto 0;
}

#sponsors, #about, #outer-uwrap {
    width: 60%;
    display: block;
    margin: 0 auto;
}
#about {
    width: 70%;
}
#spons-head, #abt-title, #uhead {
    text-align: center;
    color: #676770;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 80px;
}
.abt {
    min-width: 300px;
    padding: 15px;
    color: #6a859c;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
    width: 30%;
}
#about-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 1.5s ease;
    align-items: top;
    justify-content: space-between;
}
.abt img {
    display: block;
    margin: 0 auto;
    width: 35%;
    border: 10px solid #fff;
    border-radius: 36%;
    background-color: #2e9dff;
    box-shadow: 0 0 0 1px #2e9dff;
    padding: 20px;
}
.abt h1 {
    text-align: center;
    font-size: 25px;
    color: black;
}
.abt a {
    text-decoration: none;
    color: black;
}
.abt a:hover {
    text-decoration: underline;
    color: black;
}

#upcoming {
    background-color: #192024;
    color: white;
    padding-top: 20px;
}
#uhead {
    color: white;
    margin: 0;
    padding: 0;
}

.wave {
    width: 100%;
    transform: translateY(5px);
}
.skew {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5vh;
}

body {
    background-color: #edeff2;
}

header {
    height: 110vh;
    display: flex;
    position: relative;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 150px;
    font-weight: bold;
    line-height: 150px;
    padding: 0;
    margin: 0;
}

header blockquote {
    color: #6a859c;
    border-left: 5px solid #e2e2e2;
    padding: 20px;
    font-size: 24px;
    line-height: 10px;
}

#header-wrapper {
    width: 80%;  
    align-self: flex-end;
    display: block;
    margin: 0 auto;
    margin-bottom: 10vh;
}

