/* Styles for some specific pages */
header {
    background-color: #192024;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#head-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-direction: column;
}

header h1 {
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

header span {
    font-size: 24px;
    color: #8e8e9c;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

body  {
    background-color: #edeff2;
}


a, a:visited, a:hover, a:active {
    color: black;
}
a:hover {
    text-decoration: none;
}
