.spons blockquote {
    border-left: 4px solid #6a859c;
    font-family: Montserrat, sans-serif;
    color: #6a859c;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 10px;
}

#sponsors a {
    text-decoration: none;
    color: black;
}

.spons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #dfdfdf;
    border-radius: 15px;
    box-shadow: 0 2px 7px -3px grey;
    transition: box-shadow .2s ease, transform .2s ease;
    max-width: 1000px;
}
.spons:hover {
    box-shadow: 0 4px 7px -3px grey;
    transform: translateY(-4px);
}
.spons h1 {
    color: #686868;
    font-size: 40px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 45px;
}

.spons img {
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
    margin: auto 0;
}

#sponsors {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#spons-head {
    text-align: center;
    color: #676770;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 80px;
    margin-bottom: 16px;
}


#subhead {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 50px;
    color: #6a859c;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
}

/* Mobile breakpoints */
@media only screen and (max-width: 800px) {
    #spons-head {
        font-size: 64px;
    }
    #sponsors {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .spons img {
        display: none;
    }
    .spons h1 {
        margin-left: 0;
    }
    .spons blockquote {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 420px) {
    .spons {
        padding: 15px;
    }
    .spons blockquote {
        border-left: none;
        padding: 0;
    }
    #spons-head {
        font-size: 40px;
    }
    #subhead {
        font-size: 20px;
    }
    .spons h1 {
        font-size: 30px;
    }
}
