@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: "Lato", sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#nav-wrapper, #footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    min-width: 1000px;
    padding: 10px;
}

#footer-wrapper {
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-block-end: 0;
    padding-inline-start: 0;
}

nav {
    background-color: white;
}

nav, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#content-wrapper {
    width: 100%;
    display: block;
    padding: 0px;
}


footer {
    background-color: #666;
    padding: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    transition: border-bottom .1s;
}

nav a:hover:not(.drop-content a) {
    border-bottom: 2px solid white;
}

footer a:not(#contact a) {
    display: block;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

#contact a {
    color: white;
}

#contact a:hover {
    text-decoration: none;
}

#left-footer span:first-of-type {
    font-weight: bold;
    font-size: 1.3em;
}

h1 {
    text-align: center;
    font-size: 3em;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://uploads-ssl.webflow.com/60e102919137b97a3fa74dcb/60e103ca7616f6637e6d67a8_%E2%80%94Pngtree%E2%80%94fractal%20energy%20blast%20background_1156838%20(1).png");
}

#content-wrapper:before {
    content: "";
    background-size: 100% 100%;
    display: block;
    height: 6em;
    width: 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23A1D6E2' /%3E%3C/svg%3E");
}

#content-wrapper:before {
    transform: scale(-1, -1);
}

#main {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#right-footer span {
    font-weight: bold;
    font-size: 1.2em;
}

#left-footer span:not(#contact) {
    display: block;
    margin: 5px;
}

.dropdown {
    cursor: pointer;
}

.dropdown .drop-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    background-color: #088286;
    position: absolute;
}

#tri {
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #088286;
    position: relative;
    left: 40%;
    opacity: 0;
}

.dropdown .drop-content a {
    display: block;
    margin: 5px;
}

.dropdown:hover .drop-content, .dropdown:hover #tri {
    opacity: 1;
}

.dropdown:hover .drop-content {
    overflow: visible;
    height: auto;
    padding: 15px;
}

#contact {
    display: block;
    margin-top: 20px;
}
