body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 20px;
}

a {
    color: #67A7E0;
    text-decoration: none;
}

a:hover {
    color: #3474ad;
    transition: .2s;
}

* {
    box-sizing: border-box;
}

#nav-wrapper, #footer-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
}
#nav-wrapper {
    width: 65%;
}
#nav-right {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    background-color: white;
    color: black;
    position: fixed;
    z-index: 1;
    transition:
        background-color .3s,
        box-shadow .3s;
    box-shadow: 0 10px 5px 0px #eee;
}

#content-wrapper {
    width: 100%;
    display: block;
    padding: 0px;
}


footer {
    background-color: #666;
    padding: 30px;
    font-size: 17px;
}

nav img {
    filter: invert(0);
    transition: filter .3s;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
    font-weight: 300;
    transition: color .3s;
}

nav a:hover:not(.drop-content a):not(#nav-left a) {
    color: #2e9dff;
}

.closed-nav {
    background-color: transparent;
    color: white;
    box-shadow: none;
}

.closed-nav a {
    color: white;
}

.closed-nav img {
    filter: invert(1);
}

footer a:not(#contact a) {
    display: block;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

#contact a {
    color: white;
}

#contact a:hover {
    text-decoration: none;
}

#left-footer span:first-of-type {
    font-weight: bold;
    font-size: 1.3em;
}

#right-footer span {
    font-weight: bold;
    font-size: 1.2em;
}
#right-footer {
    margin-left: 50px;
}

#left-footer span:not(#contact) {
    display: block;
    margin: 5px;
}

.dropdown {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    font-weight: 300;
    margin-left: 20px;
    transition: color .3s;
}

.dropdown .drop-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    background-color: #088286;
    position: absolute;
    z-index: 3;
    margin-top: 24px;
}

#tri {
    width: 0px;
    height: 0px;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #088286;
    position: absolute;
    left: calc(50% - 12px);
    opacity: 0;
    transition: opacity .3s ease;
    display: none;
}

.dropdown .drop-content a {
    display: block;
    margin: 5px;
    color: white;
}

.dropdown:hover .drop-content, .dropdown:hover #tri {
    display: block;
    opacity: 1;
}

.dropdown:hover .drop-content {
    overflow: visible;
    height: auto;
    padding: 15px;
}

#contact {
    display: block;
    margin-top: 20px;
}

.hbutton, .ubtn {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 4px;
    transition: border-color 0.3s ease, color 0.3s ease;
    color: white;
    text-decoration: none;
    line-height: 21px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
    
.hbutton:hover {
    color: #69b9ff;
    border-color: #69b9ff;
}

.ubtn {
    background-color: #69b9ff;
    border-color: #69b9ff;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}
.ubtn:hover {
    color: #69b9ff;
    border-color: #69b9ff;
    background-color: transparent;
}

#main-content {
    display: block;
    width: 70%;
    margin: 0 auto;
}

#hamburger, #close {
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: none;
}
#hamburger span, #close span {
    width: 2rem;
    height: 0.3rem;
    border-radius: 10px;
    position: relative;
    background-color: black;
}

#close span:nth-child(1) {
    transform: rotate(45deg);
}
#close span:nth-child(3) {
    transform: rotate(-45deg);
}
#close span {
    transform-origin: 1px;
}


@media only screen and (max-width: 1030px) {
    #right-footer {
        display: none;
    }
    #contact {
        display: none;
    }
    #close, #hamburger {
        display: flex;
    }
    #mobile-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        right: -75%;
        background-color: darkcyan;
        transition: right .5s ease-in-out;
        padding: 20px;
        max-width: 75%;
        top: 0;
        bottom: 0;
    }
    nav ul {
        flex-direction: column;
        margin: 0;
    }
    nav li {
        padding: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }
    #mobile-nav a {
        padding: 0;
        color: white;
        margin: 0;
        text-transform: uppercase;
        transition: color .2s ease;
    }
}
